{% extends "base.html" %}
{% block content %}
<br><br><br><br>

<h1 class="text-capitalize text-center bg-dark text-white py-3">Register a New invoice</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="Customer">Customer</label>
            <select name="Customer" class="form-control"id="Customer">
                <option>Choose the Customer ...</option>
                {% for customer in customers %}
                <option value="{{customer.id}}">{{forloop.counter}}.{{customer.name}}</option>
                {% endfor %}

            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="Customer">Customer</label>
            <select name="Customer" class="form-control"id="Customer">
                <option>Choose the invoice type...</option>
                <option value="R">RECEIPT</option>
                <option value="P">PROFORMA INVOICE</option>
                <option value="I">INVOICE</option>

               
            </select>
        </div>
    </div>
    <div id="wrapper">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="article-1">#1 Item Name</label>
                <input required name="article" type="text" class="form-control" id="article-1">

            </div>
            <div class="form-group col-md-3">
                <label for="qty-1">Quantity</label>
                <input required name="aqty" type="number" min="1" step="0.1" class="form-control" id="qty-1">
                
            </div>
            <div class="form-group col-md-3">
                <label for="unit-1">unit price</label>
                <input required name="unit" type="number" min="1" step="0.1"  onchange="handlechangeSingleArticle(this.id)"class="form-control" id="unit-1">
                
            </div>
            <div class="form-group col-md-3">
                <label for="total-a">total</label>
                <input required name="total-a" type="number" min="1" step="0.1" readonly class="form-control" id="tatal-a-1">
                
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="total">Total</label>
            <input type="number" step="0.1" name="total" readonly class="form-control" id="total">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="comment">Comments</label>
            <textarea class="form-control" name="comment" id="comment" cols="30"row="1">

            </textarea>
        </div>
    </div>

            <button type="submit" class="btn btn-primary">Save</button>
     
</form>
<br><br><br>
<div class="row">
<button id="btn-add" class="btn btn-outline-danger w-50 col-md-6">add a new Item line</button> 
<button id="btn-remove" class="btn btn-outline-warning  w-50 col-md-6">remove a last Item line</button>

</div>



<script type="text/javascript">

    // click to add new line item
    $(document).on('click', '#btn-add',function(){
        var number = $('#wrapper').children().length+ 1;

        let formAdd = `  
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="article-${number}">#${number} Item Name</label>
                <input required name="article" type="text" class="form-control" id="article-${number}">

            </div>
            <div class="form-group col-md-3">
                <label for="qty-${number}"> Quantity</label>
                <input required name="qty" type="number" min="1" step="0.1"onchange="handlechangeSingleArticle(this.id)" class="form-control" id="qty-${number}">
                
            </div>
            <div class="form-group col-md-3">
                <label for="unit-${number}">unit price</label>
                <input required name="unit" type="number" min="1" step="0.1" class="form-control" id="${number}">
                
            </div>
            <div class="form-group col-md-3">
                <label for="total-a-${number}">total</label>
                <input required name="total-a" type="number" min="1" step="0.1" readonly class="form-control" id="tatal-a-${number}">
                
            </div>
        </div>
        `;

     $("#wrapper:last").append(formAdd);
    })
     // remove last item line
     $(document).on('click', '#btn-remove',function(){
        $("#wrapper").children().last().remove();
     }) 
     
     //compute defferent totals

     function handlechangeSingleArticle(id){
        let articleId = id.split('-')[-1]
        console.log(articleId);
         
     }


  
</script>


{% endblock content %}
